{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <title>InLove.Agency Mailbot</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'statistics/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'statistics/images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'statistics/images/favicon-16x16.png' %}">
    <link type='text/css' href='{% static "statistics/css/style.css" %}' rel='stylesheet' >
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/statistics/images/logo.png" alt="header-img" class="header__left">
            <div class="logo__text"><p>InLove.Agency<br>Statistics</p></div>
        </div>
        <div class="center__buttons">
            <ul>
                <li>
                    <a href="{% url 'statistics' %}" class="img__button">
                        <p>Statistics</p>
                        <img src="/static/statistics/images/statistic_icon.png" alt="header-img" class="btn__icon">
                    </a>
                </li>
                <li>
                    <a href="{% url 'mailbot' %}" class="img__button">
                        <p>MailBot</p>
                        <img src="/static/statistics/images/mailbot_icon.png" alt="header-img" class="btn__icon">
                    </a>
                </li>
            </ul>
        </div>
        <div class="right__buttons">
            <ul>
                <li>
                    <a href="{% url 'logout' %}" class="img__button">
                        <p>Exit </p>
                        <img src="/static/statistics/images/exit_icon.png" alt="header-img" class="btn__icon">
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="body_wrapper_mailbot">
        <div class="container_mailbot">
            <form method="POST">
            <div class="top_mail">

                <label>Compose mail Form</label>
                <textarea placeholder="Hello" class="mailbot_textarea"></textarea>

            </div>
            <div class="bottom_media">
                <label>Media</label>
                <div class="photo_grid" id="photos-form">
                    {% for item in img_list %}
                    <label class="photo-checkbox">
                        <input type="checkbox" name="selected_photos" value="{{ item.image_id }}" onchange="checkLimit(this)"/>
                        <img src="{{ item.image_url }}" alt="Photo {{ loop.index }}">
                    </label>
                {% endfor %}
                </div>
            </div>
                <button type="submit" class="date_btn">Accept</button>
            </form>
        </div>
        <div class="container_mailbot right">

        </div>
    </div>
    <script src="{% static 'mailbot/js/photos.js' %}"></script>
</body>
</html>