{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <title>InLove.Agency</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'statistics/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'statistics/images/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'statistics/images/favicon-16x16.png' %}">
    <link type='text/css' href='{% static "statistics/css/style.css" %}' rel='stylesheet' >
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/statistics/images/logo.png" alt="header-img" class="header__left">
            <div class="logo__text"><p>InLove.Agency<br>Statistics</p></div>
        </div>
        <div class="center__buttons">
            <ul>
                <li>
                    <a href="{% url 'statistics' %}" class="img__button">
                        <p>Statistics</p>
                        <img src="/static/statistics/images/statistic_icon.png" alt="header-img" class="btn__icon">
                    </a>
                </li>
            </ul>
        </div>
        <div class="right__buttons">
            <ul>
                <li>
                    <a href="{% url 'logout' %}" class="img__button">
                        <p>Exit </p>
                        <img src="/static/statistics/images/exit_icon.png" alt="header-img" class="btn__icon">
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="body_wrapper">
        <div class="body_block">
            <div class="user_info">
                {% if lady_name%}
                <p>Name: {{ lady_name }}</p>
                {% endif %}
                <p>Total: {{ total }}$</p>
                {% if start_date and end_date %}
                <p>Interval : {{ start_date}} - {{ end_date}}</p>
                {% elif today_date%}
                <p>Date : {{ today_date }}</p>
                {% else %}
                <p>Date : {{ max_date }}</p>
                {% endif %}
            </div>
            <div class="user_info">
                <p>{{ gifts_total }}</p>
            </div>
        </div>
        <div class="container">
            {% if transaction_list %}
                <table class="table-content">
                    <thead>
                        <tr>
                            <th><p>№</p></th>
                            <th><p>Man id</p></th>
                            <th><p>Lady id</p></th>
                            <th><p>Date</p></th>
                            <th><p>Operation</p></th>
                            <th><p>Dollars</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in transaction_list %}
                        <tr>
                            <td>{{ i.pk}}</td>
                            <td>{{ i.Man_ID}}</td>
                            <td>{{ i.Lady_ID}}</td>
                            <td>{{ i.Date|slice:"0:16"}}</td>
                            <td>{{ i.Operation_type}}</td>
                            <td>{{ i.Sum}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" style="text-align: center;"></td>
                        </tr>
                    </tfoot>
                </table>
            {% else %}
                <h1>No transaction today</h1>
            {% endif %}
        </div>
        <div class="body_block right">
            <div class="date_container">
                <form action="{% url 'statistics' %}" method="POST" >
                    {% csrf_token %}
                    <input type="date" placeholder="DD-MM-YYYY" name="selected_date" max="{{ max_date }}">
                    <button type="submit" class="date_btn">Accept</button>
                </form>
            </div>
            <div class="date_container">
                <form action="{% url 'statistics' %}" method="POST" >
                    {% csrf_token %}
                    <input type="date" placeholder="DD-MM-YYYY" name="start_date" max="{{ max_date }}">
                    <input type="date" placeholder="DD-MM-YYYY" name="end_date" max="{{ max_date }}">
                    <button type="submit" class="date_btn">Accept</button>
                </form>
            </div>
        </div>
    </div>
    <h1>{{ date }}</h1>
</body>
</html>