{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <title>Main</title>
    <link type='text/css' href='{% static "statistics/css/style.css" %}' rel='stylesheet' >
</head>
<body>
    <div class="container">
        <table class="table-content">
            <thead>
                <tr>
                    <th><p>Man id</p></th>
                    <th><p>Lady id</p></th>
                    <th><p>Date</p></th>
                    <th><p>Operation</p></th>
                    <th><p>Dollars</p></th>
                </tr>
            </thead>
            <tbody>
                {% for i in transaction_list %}
                <tr>
                    <td>{{ i.Man_ID}}</td>
                    <td>{{ i.Lady_ID}}</td>
                    <td>{{ i.Date|slice:"0:16"}}</td>
                    <td>{{ i.Operation_type}}</td>
                    <td>{{ i.Sum}}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" style="text-align: center;"><p>Total: {{ total }}$</p></td>
                </tr>
            </tfoot>
        </table>
    </div>

</body>
</html>